---
title: 人员定位
keywords: 人员定位
description: 人员定位
permalink: /location/
nav: 'location'
---
<div class="main">
<div class="maincontainer png fixed_width pos_center">
  <div class="twocol">
  <div class="twocol_l">
    <div class="sidemenu">
      <div class="sidemenu_head png">
        <h2>人员定位</h2>
        <em>LOCATION</em>
      </div>
      <ul class="sidemenu_body png">
        <li><a class="sidemenu_current png" href="{{ pkg.url }}/location/">人员定位</a></li>
      </ul>
      <div class="sidemenu_foot png"></div>
    </div>
{{>contact}}
  </div>
  <div class="twocol_r">
    <div class="context png">
      {{>bread}}
      <div class="clear"></div>
      <div class="content">
        <p><strong>人员定位服务平台使用手册</strong></p>
        <p><strong>1.用户类型及权限关系</strong></p>
        <p>在使用人员定位服务平台时，首先需要了解后台用户之间的权限关系（如图1）</p>
        <p><img src="/image-pro/001.jpg" style="width: 431px; height: 358px;" /></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  </div>
</div>
</div>
